main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
}

main .slide-wrap {
  justify-content: space-between;
  width: 70%;
  display: flex;
  /* margin-bottom: 3%; */
}

main .slide-wrap .slide-image {
  width: 50%;
  height: 500px;
  overflow: hidden;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 25%);
}

main .slide-wrap .slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .slide-wrap:first-child .slide-image img {
  object-position: -164px 0;
}

main .slide-wrap .work-contents {
  width: 50%;
  text-align: right;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1vw;
  line-height: 1.5;
}

main .slide-wrap:nth-child(2n + 1) .work-contents {
  padding-left: 0;
  padding-right: 5%;
  text-align: left;
}

main .slide-wrap:nth-child(2n + 1) .work-contents a {
  align-self: flex-end;
}
main .slide-wrap:nth-child(2n + 1) .work-contents a button {
  text-align: right;
}

main .slide-wrap .work-contents h3 {
  font-size: 2vw;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 36px;
}

main .slide-wrap .work-contents a {
  align-self: flex-start;
}

main .slide-wrap .work-contents a button {
  font-size: 14px;
  outline: none;
  margin-top: 40px;
  width: 80px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

main .slide-wrap .work-contents a button:hover {
  background-color: white;
}
