.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
section,
main {
  scroll-snap-align: start;
}

section.portfolio-1 {
  height: 100vh;
  width: 100%;
  border-bottom: 3px solid black;
}

.portfolio-1 .wrap {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio-1 .wrap h2 {
  display: inline-block;
  height: 210px;
  font-size: 7vw;
}

.portfolio-1 .wrap h2 span {
  font-style: italic;
  animation: writeWave 1.7s infinite ease-in-out both;
  animation-delay: var(--delay);
  --delay: calc((var(--variable-index)) * 0.05s);
}

@keyframes writeWave {
  0% {
    font-weight: 43;
  }
  50% {
    font-weight: 950;
  }
  100% {
    font-weight: 43;
  }
}

.portfolio-1 .wrap h3 {
  font-size: 2vw;
  margin-top: 2%;
}

/* 어바웃페이지 */

.about-page {
  height: 100vh;
  text-align: center;
}

.about-page div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about-page h2 {
  font-size: 5vw;
  text-transform: uppercase;
}

.about-page h3 {
  margin-top: 2%;
  font-size: 3vw;
  line-height: 1.5;
  font-weight: 500;
}

.about-page h3 span {
  font-weight: 100;
  position: relative;
}

.about-page h3 span:hover {
  border-bottom: 2px solid #000;
}

.about-page h3 span .about-img {
  position: absolute;
  border: 3px solid black;
  padding: 1rem;
  bottom: 90%;
  left: 0;
  z-index: 999;
  animation: rotateImg 3s ease-in-out 1 both;
  display: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  width: 15vw;
}

@keyframes rotateImg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
  }
}

.about-page h3 span .about-img.on {
  display: inline-block;
}

/* 콘텍트미 페이지 */

.contact-me {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.contact-me .info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me .info .info-wrap {
  display: flex;
}

.contact-me h2 {
  font-size: 4vw;
  margin-bottom: 2%;
}

.contact-me .info-circle {
  text-align: right;
}

.contact-me .circle {
  width: 20vw;
  height: 20vw;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10%;
  background: url('../images/profile.jpg') center no-repeat;
  background-size: cover;
  display: inline-block;
  margin-bottom: 2%;
}

.contact-me .box {
  margin: 2% 0;
  font-size: 1vw;
  text-align: center;
}

.contact-me .box a {
  text-decoration: underline;
}
